# Git
.git
.gitignore

# Environment variables (SECURITY RISK)
.env
.env.*

# Dependencies
node_modules
npm-debug.log

# Build artifacts
dist

# Temporary files
temp
data
coverage

# IDE settings
.vscode
.idea

# Database
*.dbspec.ts

# Documentation
docs
*.md

# Tests
tests
*.test.ts
*.spec.ts
